.BeginNavBar {
    background-color: #f5f5f5;
    box-shadow: 5px 0px 5px gray;
    height: 50px;
    position: relative;
}

.Login {
    padding: 100px;
}

.Loginbtn {
    width: 300px;
    border-color: rgb(79, 155, 206);
}

.Signup {
    background-color: #50C878;
    border-color: #50C878;
    width: 300px;
    color: #fff;
}

.Signup:hover {
    background-color: #50C878;
    border-color: #50C878;
}

.Login form {
    margin: 0 auto;
    max-width: 300px;
}
